.advantage_headerBlock, .advantage_contentBlocks
    display: flex
    justify-content: space-between
    align-items: center
    &_img
        width: 65%
.advantage_headerBlock
    margin-bottom: 70px 
.advantage_contentBlocks
    margin-bottom: 60px
    p
        font-size: 25px
        font-family: $stolzl_light
    img
        margin-right: 60px  
.headers
    font-family: $stolzl_bold
    font-size: 45px
    text-transform: uppercase 
    color: $colorHeader 
.advantage_header
    padding-left: 100px  
    position: relative
    &:after
        position: absolute
        content: ''
        width: 60px
        height: 2px
        background-color: $orange
        left: 0
        top: 24%
        

